.DS_Store
RKLOG.DAT

reports/

doc/
bin/
img/
data/
tmp/
madx-scripts/*
!madx-scripts/makefile
!madx-scripts/support/main.madx
!madx-scripts/**/*.madx
!madx-scripts/**/*.seq
!madx-scripts/**/*.py
analysis/tbl/


__pycache__/

*.lis
*.bld
*~
*.pyc